// Place all the styles related to the api::listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-index-container {
    height: 100%;
    width: 100%;
}

.listings-index-container {
    display: flex;
    flex-direction: row;
    height: 100%
    // border: 1px solid red;

}

.listings-index-map { 
    // width: calc(100% - 800px);
    width: 60%;
    // width: auto;
    // position: fixed;
    height: 100%;
    border: 1px solid rgb(199, 197, 197);
}

.listings-index-right {
    width: 40%;
    max-width: 800px;
    min-width: 350px;
    margin-left: auto; 
    margin-right: 0;
    overflow-y: scroll;
    height: 100%;
    border: 1px solid rgb(199, 197, 197);

    .listing-index-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    h3 {
        padding-left: 5px;
        font-size: 20px;
        font-weight: 500;
    }


}

.listing-index-item {
    height: 254px;
    
    min-width: 350px;
    max-width: 500px;
    width: 48%;
    border: 1px solid rgb(200, 200, 200);
    margin-left: 3px; 
    margin-right: 3px;
    margin-bottom: 10px;
    border-bottom: 5px solid rgb(16, 27, 184);

    p {
        color: black;
    }
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }

    #index-item-price {
        font-size: 22px;
        font-weight: 550;
    }

    .listing-item-info {
        margin-left: 10px;
    }

    .listing-item-info-span {
        span {
            font-size: 14px;
            // font-weight: 10;
        }
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.listing-index-item:hover {
    cursor: pointer;
}

.index-listing-photos {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    // border: 1px solid purple;

}

.listings-index-right-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 1px solid blue;
}

.content-listing-info {
    display: flex; 
    justify-content: space-between;
    img {
        width: 70px; 
        height:70px; 
        padding-right:15px
    }
}


.listing-div{
    display: flex;
    height: 100vh;
    width: 70vw;
    background-color: white;
}

.listing-physical-div{
    margin-bottom: 8px;

    div {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.listing-physical-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.listing-price{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.listing-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.listing-address {
    font-family: Arial, Helvetica, sans-serif;
}


.listing-description-div {
    padding: 16px;
    h3 {
        font-weight: bolder;
        font-size: larger;
    }

    .listing-description {
        padding: 8px;
    }
    // border: 3px solid blue;
    font-size: large;
}

.listing-photos{
    width: 50%;
    height: 25%;
    object-fit: cover;
    border-top: 2px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
}

#listing-photo-0{
    width: 100%;
    height: 50%;
}

.listing-div-left{
    width: 75%;
    overflow-y: scroll;
}

.listing-div-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    // justify-content: ;
}

.listing-nav-header{
    height: 6%;
    display: flex;
    justify-content: space-between;
    // margin-top: 2px;
    border-bottom: .5px solid grey;

    .save-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        span {
            color:rgb(55, 116, 230)
        }
    }

}

.listings-mini-map {
    padding: 10px;

}

#listing-map-container{
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 2/ 1;
    border-radius: 8px;
    // border: 10px;
    // border: 3px solid red;
}


.form-photos-box {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    // clip: rect(1px, 1px, 1px, 1px);
    // border: 3px solid black;
    // outline: solid;
}


.listing-form-container {
    display: flex;
    flex-direction: row;
}

.listing-form-photos{
    display: flex;
    flex-direction: column;
    width: 50%;
    // overflow-y: scroll;
}

// .listing-form-right{
//     width: 50%;
//     display: flex;
//     flex-direction: column;
//     // justify-content: ;
// }

.listing-form-right {
    width: 45%;
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      width: 100%;
      flex-direction: column;
      input {
        width: 60%;
        border: 0.7px solid black;
        border-radius: 3px;
        background-color: rgb(250, 250, 250);
        padding: 10px 0px 13px 10px;
        &:hover {
          border: 1px solid #006aff;
        }
        margin-bottom: 10px;
      }
      label {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        font-size: medium;
        margin: 10px;
        > p {
          width: 20%;
        }
      }
      
      textarea {
        width: 70%;
        height: 150px;
        border: 1px solid black;
        border-radius: 3px;
        background-color: rgb(250, 250, 250);
        margin-bottom: 20px;
        padding: 20px;
        font-size: medium;
      }

      .street-input {
          width: 100%;
      }
      .address-input {
        display: flex;
        // grid-template-areas: 42% 30% 30% 30%;
        width: 100%;
      }
      .lat-lng {
          display: flex;
        }
      .extra-inputs {
          display: flex;
        }
    }
    button {
        width: 98%;
        border: 0.7px solid rgb(26, 83, 189);
        border-radius: 3px;
        background-color: rgb(26, 83, 189);
        padding: 13px 0px 13px 10px;
        color: white;
        font-size: large;
    }
  }



.form-photos-div {
    width: 50%;
    aspect-ratio: 2/1;

    // object-fit: cover;
    border-top: 2px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
} 

.form-photos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.listing-form-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.saved-listings-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    // overflow-y: scroll;
    height: 100%;
}


