// Place all the styles related to the api::listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.listings-index-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 150px);
    // border: 1px solid red;

}

.listings-index-map { 
    // width: calc(100% - 800px);
    width: 60%;
    // width: auto;
    // position: fixed;
    height: 100%;
    border: 1px solid black;
}

.listings-index-right {
    width: 40%;
    max-width: 800px;
    min-width: 350px;
    margin-left: auto; 
    margin-right: 0;
    overflow-y: scroll;
    height: 100%;
}

.listing-index-item {
    height: 254px;

    min-width: 350px;
    // width: 45%;
    
    border: 1px solid green;
    margin-left: auto; 
    margin-right: auto;
    

    p {
        color: black;
    }
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }

    #index-item-price {
        font-size: larger;
        font-weight: 600;
    }
}

.index-listing-photos {
    width: 100%;
    height: 175px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid purple;

}

.listings-index-right-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid blue;
}

.content-listing-info {
    display: flex; 
    justify-content: space-between;
    img {
        width: 70px; 
        height:70px; 
        padding-right:15px
    }
}


.listing-div{
    display: flex;
    height: 100vh;
    background-color: white;
}

.listing-price{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.listing-physical-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.listing-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.listing-address {
    font-family: Arial, Helvetica, sans-serif;
}

.listing-physical-div{
    margin-bottom: 8px;
}

.listing-address-div{
    margin-bottom: 8px;
    h3 {
        font-weight: bolder;
        font-size: larger;
    }
    border: 3px solid blue;
    font-size: large;
}

.listing-price-div{
    margin-bottom: 8px;
    margin-top: 8px;
}

.listing-photos{
    width: 50%;
    height: 25%;
    object-fit: cover;
    border-top: 2px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
}

#listing-photo-0{
    width: 100%;
    height: 50%;
}

.listing-div-left{
    width: 75%;
    overflow-y: scroll;
}

.listing-div-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    // justify-content: ;
}

.listing-nav-header{
    height: 8%;
    display: flex;
    justify-content: space-between;
    // margin-top: 2px;
    border-bottom: .5px solid grey;
}

// .listings-mini-map{
//     overflow-y: scroll;
//     width: 100%;
//     height: 50%;
// }

#listing-map-container{
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 2/ 1;
    border-radius: 8px;
    border: 10px;
    padding: 10px;
    border: 3px solid red;
}

// .listing-form-photos {
//     border: 3px solid black;
// }

.form-photos-box {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    // clip: rect(1px, 1px, 1px, 1px);
    border: 3px solid black;
    // outline: solid;
}


.listing-form-container {
    display: flex;
    flex-direction: row;
}

.listing-form-photos{
    display: flex;
    flex-direction: column;
    width: 60%;
    overflow-y: scroll;
}

.listing-form-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    // justify-content: ;
}

.form-photos-div {
    width: 50%;
    aspect-ratio: 2/1;

    // object-fit: cover;
    border-top: 2px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
} 

.form-photos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.listing-form-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
